@use 'headerAndCalc';
@use 'IMCResultMeans';
@use 'limitationsIMC';
@use 'variables';

/* Fonts 
font titulo 1 - font-h1
font tutilo 2 - font-h2
font titulo 3 - font-h3
font titulo 4 - font-h4
font paragrafos - font-p
*/

.font-h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 16px;
}

.font-h2 {
    font-size: 32px;
    font-weight: bold;
}

.font-h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 23px;
}

.font-h4 {
    font-size: 20px;
    font-weight: bold;
}

.font-p {
    font-size: 16px;
}

section {
    margin-bottom: 70px;
}

.b-shadow {
    box-shadow: 16px 16px 30px variables.$BShadowColor;
}

@media screen and (min-width: 1023px) {
    .font-h1 {
        padding: 0 0 20px 0;
    }
}